{% extends "clrs_base.html" %}
{% block clrs_content %}
<p class="statement">
Consider sorting n numbers stored in array A by first finding the smallest element
of A and exchanging it with the element in A[1]. Then find the second smallest
element of A, and exchange it with A[2]. Continue in this manner for the first n-1
elements of A. Write pseudocode for this algorithm, which is known as selection
sort. What loop invariant does this algorithm maintain? Why does it need to run
for only the first n-1 elements, rather than for all n elements? Give the best-case
and worst-case running times of selection sort in $\Theta$-notation.
</p>
<div class="solution">
<code><pre>
SELECTION-SORT(A)
for i := 1 to A.length - 1
    min = i
    for j := i + 1 to A.length
        if A[j] < A[j]
            min = j
    SWAP(A[i], A[min])
</pre></code>
<p><b>Loop invariant</b>: All elements in $A[1, i-1]$ are the smallest $i-1$ elements of $A$,
in non-decreasing order.</p></br>
<p>When $i$ reaches $A.length$, the loop invariant states that $A[1, i - 1]$ is sorted and
contains the smallest $n-1$ elements of $A$. Therefore A[i+1] is the largest element of the
array and the entire array $A$ is sorted.</p></br>
<p>The highest order term of the selection-sort algorithms running time is $cn^2$, which doesn't change
even if the algorithm is already sorted (only lower order terms' constants do),
therefore the running time is $\Theta(n^2)$.</p>
</div>
{% endblock %}
