<html>
    <head>
        {% block header %}
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <link rel="stylesheet" type="text/css" href="http://reset5.googlecode.com/hg/reset.min.css">
            <title>{% block title %}{% endblock title %} - pisskidney.com</title>
        {% endblock header %}
    </head>
    <body>
        <div id="container">
            <a id="title" href="http://pisskidney.com/">pisskidney.com</a>
            {% block content %}{% endblock content %}
        </div>
        {% block footer %}
            <script src="{{ url_for('static', filename='colored_text.js') }}"></script>
        {% endblock footer %}
    </body>
</html>
