{% extends "base.html" %}
{% block title %}Introduction to Algorithms{% endblock title %}
{% block content %}
    <h1 id="title">pisskidney.com</h1>
    <h2>My Introduction to Algorithms (CLRS) solutions.</h2>
    <p>Making my solutions public, in case someone can benefit from them.</p>
    <p>Each problem has a comments section where you can correct any errors you may find (please).</p>
    <div id="problems-container">
        <h2 class="chapter">Chapter 1</h2>
        <div class="problems">
            <div class="section">
                <span class="section-title">Section 1</span>
                <a class="problem" href="blabla">1.1-1</a>
                <a class="problem" href="blabla">1.1-2</a>
            </div>
            <div class="section">
                <span class="section-title">Section 2</span>
                <a class="problem" href="blabla">1.2-1</a>
            </div>
        </div>
        <h2 class="chapter">Chapter 2</h2>
        <div class="problems">
            <div class="section">
                <span class="section-title">Section 1</span>
                <a class="problem" href="blabla">1.1-1</a>
                <a class="problem" href="blabla">1.1-2</a>
            </div>
            <div class="section">
                <span class="section-title">Section 2</span>
                <a class="problem" href="blabla">1.2-1</a>
            </div>
        </div>
    </div>

    




{% endblock content %}
